

.img_banner{
    background: url(/images/hero-corporate-team.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}